<label for="date">{{ date['#label'] }}</label>
<duet-date-picker
  identifier="{{ date['#name'] }}"
  name="{{ date['#name'] }}"
  id="{{ date['#name'] }}"
  value="{{ formatted_default_date }}"
  min="{{ min_date }}"
  max="{{ max_date }}"
>
</duet-date-picker>
